.cont_top {
    background-color: rgb(68, 68, 68);
    
}
.block_cont {
    max-width: 850px;
    
}
.top_mid img {
    max-width: 350px;
}
.txt_1 {
 background-color: white;
 font-size: 32px;
 rotate: -25deg;
 display: inline-block;
}
.txt_2 {
    background-color: white;
    font-size: 32px;
    rotate: -25deg;

    display: inline-block;

   }