@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_opsz\,wght.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf");
    font-style: italic;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

html {
    font-family: "Inter";
    background-color: #0F0F0F;
}

body {
    padding: 0 calc((100vw - 1440px) / 2);
}

header {
    background-color: #0F0F0F;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > .links {
    display: flex;
    gap: 1rem;
}

header > .links > a {
    color: #fff;
    text-decoration: none;
}